*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
  background: linear-gradient(179deg, #a0e5e2, #cb3066,#432371,#8c95e6, #0b8793 , #093028);
  background-size: 1200% 1200%;
  height:1100px;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}



@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

/* NOTE First Slider */
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

 body{
     font-family: 'Poppins', sans-serif;
     font-weight: 300;
     font-size: 15px;
     line-height: 1.7;
     color: #343434;
     background-color: #f1f2f6;
     overflow-x: hidden;
 }
 a {
     cursor: pointer;
 }
 a:hover {
     text-decoration: none;
 }
 
 .section{
   position: relative;
   width: 100%;
   display: block;
 }
 .full-height{
   min-height: 100vh;
 }
 .over-hide{
   overflow: hidden;
 }
 .padding-tb{
   padding: 100px 0;
 }
 [type="radio"]:checked,
 [type="radio"]:not(:checked){
   position: absolute;
   left: -9999px;
 }
 .checkbox:checked + label,
 .checkbox:not(:checked) + label{
   position: relative;
   cursor: pointer;
   margin: 0 auto;
   text-align: center;
   margin-right: 10px;
   margin-left: 10px;
   display: inline-block;
   width: 50px;
   height: 50px;
   margin-top: 40px;
   border:3px solid #D2E0FA;
   background-size: cover;
   background-position: center;
   box-sizing: border-box;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   background-image: url('http://www.upsara.com/images/m678940_.jpg');
   animation: border-transform 6s linear infinite alternate forwards;
     -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
     animation-play-state: paused;
 }
 .checkbox.scnd + label{
   background-image: url('http://www.upsara.com/images/j097497_.jpg');
   border:3px solid #DAA476;
 }
 .checkbox.thrd + label{
   background-image: url('http://www.upsara.com/images/o156846_.jpg');
   border:3px solid #7CABC9;
 }
 .checkbox.foth + label{
   background-image: url('http://www.upsara.com/images/f391235_.jpg');
   border:3px solid #e0315d;
 }
 .checkbox.fifth + label{
    background-image: url('http://www.upsara.com/images/k123637_.jpg');
    border:3px solid #e2e056;
  }
  .checkbox.six + label{
    background-image: url('http://www.upsara.com/images/d991312_.jpg');
    border:3px solid #b18271;
  }
  .checkbox.seven + label{
    background-image: url('http://www.upsara.com/images/q452681_.jpg');
    border:3px solid #91C4D7;
  }
  .checkbox.eight + label{
    background-image: url('http://www.upsara.com/images/s600777_.jpg');
    border:3px solid #02af2d;
  }
 
 .checkbox:checked + label{
   box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
   transform: scale(1.3);
     -webkit-animation-play-state: running;
     -moz-animation-play-state: running;
     animation-play-state: running;
 }
 @keyframes border-transform{
   0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
 }
 
 .slider-height-padding {
   padding-top: 440px;
 }
 
 ul {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
 }
 ul li {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: block;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
   height: 450px;
   border: 5px solid #483D59;
   background-size: cover;
   background-position: center;
   background-image: url('http://www.upsara.com/images/p711781_.jpg');
   border-radius: 50%;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-weight: 900;
   font-size: 16px;
   letter-spacing: 2px;
   line-height: 2.7;
   color: #00b6ad;
   writing-mode: vertical-rl;
   opacity: 0;
   pointer-events: none;
   border: 5px solid #483d591c;
   box-shadow: 0 0 1px #D2E0FA, 0 0 2px #D2E0FA, 0 0 6px #D2E0FA, 0 0 12px #D2E0FA, inset 0 0 1px #D2E0FA, inset 0 0 2px #D2E0FA, inset 0 0 6px #D2E0FA, inset 0 0 12px #D2E0FA;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }
 ul li span {
   mix-blend-mode: difference;
 }
 ul li:nth-child(2) {
   background-image: url('http://www.upsara.com/images/x468398_.jpg');
   border: 5px solid #483d591c;
   box-shadow: 0 0 1px #DAA476, 0 0 2px #DAA476, 0 0 6px #DAA476, 0 0 12px #DAA476, inset 0 0 1px #DAA476, inset 0 0 2px #DAA476, inset 0 0 6px #DAA476, inset 0 0 12px #DAA476;
 }
 ul li:nth-child(3) {
   background-image: url('http://www.upsara.com/images/h853822_.jpg');
      border: 5px solid #483d591c;
   box-shadow: 0 0 1px #7CABC9, 0 0 2px #7CABC9, 0 0 6px #7CABC9, 0 0 12px #7CABC9, inset 0 0 1px #7CABC9, inset 0 0 2px #7CABC9, inset 0 0 6px #7CABC9, inset 0 0 12px #7CABC9;
 }
 ul li:nth-child(4) {
   background-image: url('http://www.upsara.com/images/f391235_.jpg');
      border: 5px solid #483d591c;
   box-shadow: 0 0 1px #dd0808, 0 0 2px #dd0808, 0 0 6px #dd0808, 0 0 12px #dd0808, inset 0 0 1px #dd0808, inset 0 0 2px #dd0808, inset 0 0 6px #dd0808, inset 0 0 12px #dd0808;
 }
 ul li:nth-child(5) {
    background-image: url('http://www.upsara.com/images/i568278_.jpg');
       border: 5px solid #483d591c;
   box-shadow: 0 0 1px #e2e056, 0 0 2px #e2e056, 0 0 6px #e2e056, 0 0 12px #e2e056, inset 0 0 1px #e2e056, inset 0 0 2px #e2e056, inset 0 0 6px #e2e056, inset 0 0 12px #e2e056;
  }
  ul li:nth-child(6) {
    background-image: url('http://www.upsara.com/images/x812772_.jpg');
       border: 5px solid #483d590c;
   box-shadow: 0 0 1px #C4B0A9, 0 0 2px #C4B0A9, 0 0 6px #C4B0A9, 0 0 12px #C4B0A9, inset 0 0 1px #C4B0A9, inset 0 0 2px #C4B0A9, inset 0 0 6px #C4B0A9, inset 0 0 12px #C4B0A9;
  }
  ul li:nth-child(7) {
    background-image: url('http://www.upsara.com/images/c307666_.jpg');
       border: 5px solid #483d591c;
   box-shadow: 0 0 1px #91C4D7, 0 0 2px #91C4D7, 0 0 6px #91C4D7, 0 0 12px #91C4D7, inset 0 0 1px #91C4D7, inset 0 0 2px #91C4D7, inset 0 0 6px #91C4D7, inset 0 0 12px #91C4D7;
  }
  ul li:nth-child(8) {
    background-image: url('http://www.upsara.com/images/x614620_.jpg');
       border: 5px solid #483d591c;
   box-shadow: 0 0 1px #00b6ad, 0 0 2px #00b6ad, 0 0 6px #00b6ad, 0 0 12px #00b6ad, inset 0 0 1px #00b6ad, inset 0 0 2px #00b6ad, inset 0 0 6px #00b6ad, inset 0 0 12px #00b6ad;
  }
 
 
 .checkbox.frst:checked ~ ul li:nth-child(1) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.scnd:checked ~ ul li:nth-child(2) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.thrd:checked ~ ul li:nth-child(3) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.foth:checked ~ ul li:nth-child(4) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.fifth:checked ~ ul li:nth-child(5) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }
  .checkbox.six:checked ~ ul li:nth-child(6) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }
  .checkbox.seven:checked ~ ul li:nth-child(7) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }
  .checkbox.eight:checked ~ ul li:nth-child(8) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }
 
 .logo {
     position: absolute;
     top: 30px;
     right: 30px;
     display: block;
     z-index: 100;
     transition: all 250ms linear;
 }
 .logo img {
     height: 26px;
     width: auto;
     display: block;
 }
 
 
 
 @media (max-width: 767px) {
   .slider-height-padding {
     padding-top: 340px;
   }
   .checkbox:checked + label,
 .checkbox:not(:checked) + label{
   margin-top:7px;
 }
   ul li {
     height: 300px;
     font-size: 13px;
     letter-spacing: 1px;
   }
 }
 
 @media (max-width: 575px) {
   .slider-height-padding {
     padding-top: 240px;
   }
   ul li {
     height: 200px;
   }
 }

 /* NOTE Second Slider */

 @-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}
@font-face
{
font-family: font;
src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
font-weight:bold;
}

.slider div p{color:#1c1c1c;padding-top: 10px; font-size:22px;}
.slider{

     -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;
 

    margin:10px auto 0 auto;
    height:340px;
    width:240px;
    padding:40px;
    top:100px;

       perspective:1000px;
       transition:ease-in-out .2s;
             /*-webkit-transform:rotateX(45deg);
             -webkit-transform-style:preserve-3d;
                 position:absolute;*/
}
/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/


.slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none;user-drag:none;-moz-user-drag:none; border-radius:2px; }


.slide{

    

      -webkit-user-select:none;
user-select:none;
  -moz-user-select:none;
    position:absolute;
        height:310px;
    width:250px;
    box-shadow: 0 0 1px #00b6ad, 0 0 2px #00b6ad, 0 0 6px #00b6ad, 0 0 12px #00b6ad, inset 0 0 1px #00b6ad, inset 0 0 2px #00b6ad, inset 0 0 6px #00b6ad, inset 0 0 12px #00b6ad;
             -webkit-transform-style:preserve-3d;
              transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
             text-align:center;
             /*overflow:hidden;*/
             box-sizing:border-box;
             border:12px rgba(255, 255, 255, 0.774) solid;
             border-bottom:55px rgba(255, 255, 255, 0.774) solid;
             border-radius:5px;


    
}
.transition {
     -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
   -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
      transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}

